@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3> COMPRA REALIZADA </h3>
Compra Realizada,Se le desconto Bs.@ViewBag.total
<br>
<br>
<a asp-controller="ProductoParaCarrito" asp-action="Index">Volver a Productos</a>
