@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>PRODUCTOS</h3>
<table class="table table-dark table-striped">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Acción</th>
    </tr>
    @foreach (var producto in ViewBag.productos)
    {
        <tr>
            <td>@producto.Id</td>
            <td>@producto.Nombre</td>
            <td><img src="~/imagenes/@producto.Imagen" height="90" width="90"></td>
            <td>@producto.Precio</td>
            <td align="center">
               <a asp-controller="Carrito" asp-action="Agregar" asp-route-id="@producto.Id">Comprar Ahora</a>
            </td>
        </tr>
    }
</table>